@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}

.main-header{
  font-family: Montserrat, sans-serif;
}

.create-form{
  color: whitesmoke !important;
  font-family: Montserrat, sans-serif;
  font-size: 12px !important;
}

.box{
  height: 35px;
  width: 250px;
}

.button{
  height: 35px;
  width: 100px;
}

table, th, td {
  border: 2px solid whitesmoke;
}

.subtopic{
  display: flex;
  flex-direction: row;
  margin: 12px;
}

.subtopic div:nth-child(1) {
  width: 50%;
  border-bottom: black solid 2px;
  border-right: black solid 2px;
}

.subtopic div:nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

h3{
  color: black;
  border: black solid 1px;
  border-radius: 5px ;
  padding: 8px
}

h3:hover{
  color: white;
  background-color: black;
}
